{% extends "::base.html.twig" %}

{% block title %}New Contact{% endblock %}

{% block body %}
    {% block form_start %}
        {{ form_start(form) }}
    {% endblock %}

    <div class="row">
        <div class="col-sm-2"> {{ form_label(form.firstName) }}<b>:</b> </div>
        <div>
            {% block firstName %}
                {{ form_widget(form.firstName) }}
            {% endblock %}
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-2"> {{ form_label(form.lastName) }}<b>:</b> </div>
        <div>
            {% block lastName %}
                {{ form_widget(form.lastName) }}
            {% endblock %}
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-2"> {{ form_label(form.description) }}<b>:</b> </div>
        <div>
            {% block description %}
                {{ form_widget(form.description) }}
            {% endblock %}
        </div>
    </div>

    {% block submit %}
        <br>
        <input type="submit" value="Submit">
    {% endblock %}

    {% block form_end %}
        {{ form_end(form) }}
    {% endblock %}

    {% block addAddress %}{% endblock %}
{% endblock %}
