{% extends "::base.html.twig" %}

{% block title %}New Contact{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-2"> {{ form_label(form.firstName) }} </div>
        <div> {{ form_widget(form.firstName) }} </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-2"> {{ form_label(form.lastName) }} </div>
        <div> {{ form_widget(form.lastName) }} </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-2"> {{ form_label(form.description) }} </div>
        <div> {{ form_widget(form.description) }} </div>
    </div>

    <br>
    <input type="submit" value="Submit">
    {{ form_end(form) }}
{% endblock %}
